<!-- [Salasana application body (salasana.hbs)] -->

<div id="bodywrapper" class="viewport-full flex-column">

  {{> sharedPartials/navbar }}

  <div id="progressbar" class="progress-bar-inactive"></div>

  <div id="root">

    <div id="salasana" class="salasana-ui">

        <!-- Panel view for salasana -->
       {{> localPartials/salasanaPanels}}

    </div>

    {{> sharedPartials/snackbars }}

  </div>

  {{> sharedPartials/footer }}

</div>