<!-- [Salasana form for changing password (changePasswordForm.hbs)] -->

<form id="changePasswordForm">

  <div class="form-container">

    <div class="form-header">
      Vaihda Melinda-tunnuksesi salasana
    </div>

    <div class="form-content">

      <!-- Input: current password -->
      <div class="form-content-section direction-row">

        <div class="form-field-container full-width">
          <div class="label-wrapper">
            <label for="currentPassword">Nykyinen salasana</label>
          </div>
          <div class="input-wrapper">
            <span class="material-icons">lock_outline</span>
            <input id="currentPassword" name="currentPassword" type="password" placeholder="Syötä nykyinen salasanasi"
              required="true" autocomplete="off" form="changePasswordForm">
          </div>
        </div>

      </div>

      <!-- Input: new password -->
      <div class="form-content-section direction-row">

        <div class="form-field-container full-width">
          <div class="label-wrapper">
            <label for="newPassword">Uusi salasana</label>
          </div>
          <div class="input-wrapper">
            <span class="material-icons">lock_outline</span>
            <input id="newPassword" name="newPassword" type="password" placeholder="Syötä uusi salasanasi"
              required="true" spellcheck="false" autocomplete="off" form="changePasswordForm">
          </div>
        </div>

      </div>

      <!-- Input: new password confirmation -->
      <div class="form-content-section direction-row">

        <div class="form-field-container full-width">
          <div class="label-wrapper">
            <label for="newPasswordConfirmation">Vahvista uusi salasana</label>
          </div>
          <div class="input-wrapper">
            <span class="material-icons">lock_outline</span>
            <input id="newPasswordConfirmation" name="newPasswordConfirmation" type="password"
              placeholder="Syötä uusi salasanasi uudelleen" required="true" spellcheck="false" autocomplete="off"
              form="changePasswordForm">
          </div>
        </div>

      </div>

    </div>

    <div class="form-footer">

      <button id="submitChangePassword" type="submit" form="changePasswordForm">
        Vaihda salasana
      </button>

    </div>

  </div>

</form>