<!-- [Salasana instructions for password change (instructions.hbs)] -->

<div>
  <h6>Ohjeet</h6>
  <ul>
    <li>Valitse 8-10 merkin pituinen uusi salasana</li>
    <li>Yhdistele uudessa salasanassa isoja ja pieniä kirjaimia, numeroita ja seuraavia erikoismerkkejä: $ ? * ! . , - _</li>
    <li>Älä käytä uudessa salasanassa rivinvaihtoja, sisennyksiä tai välilyöntejä</li>
  </ul>
</div>