<!-- [Salasana instructions for password change (instructions.hbs)] -->

<ul>
  <li>Valitse 8-10 merkin pituinen uusi salasana</li>
  <li>Yhdistele uudessa salasanassa isoja ja pieniä kirjaimia, numeroita ja sallittuja erikoismerkkejä</li>
  <li>Tarkista, että uusi salasana ei sisällä tyhjämerkkejä eli välilyöntejä, rivinvaihtoja tai sisennyksiä</li>
  <li>Uudessa salasanassa voit käyttää näitä sallittuja erikoismerkkejä:
    <ul>
      <li>alaviiva _</li>
      <li>dollarimerkki $</li>
      <li>huutomerkki !</li>
      <li>kysymysmerkki ?</li>
      <li>pilkku ,</li>
      <li>piste .</li>
      <li>tähtimerkki *</li>
      <li>yhdysmerkki -</li>
    </ul>
  </li>

</ul>