<!-- [Salasana panels for password change form and instructions for password change (salasanaPanels.hbs)] -->

<div class="panels">

  <div class="panel-container">
    <div class="panel-main-wrapper">
      <div class="panel-header">Uuden salasanan asettaminen</div>
      <div class="panel-content">

        <!-- Form for updating password -->
        {{> localPartials/changePasswordForm}}

      </div>
    </div>
  </div>

  <div class="panel-container">
    <div class="panel-main-wrapper">
      <div class="panel-header">Uuden salasanan vaatimukset</div>
      <div class="panel-content">

        <!-- Instructions how to use form and new password requirements -->
        {{> localPartials/instructions}}

      </div>
    </div>
  </div>

</div>